html, body {
    width: 100%;
    height: 100%;
}
body, div, p, h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
    color: #1C2A39;
}
body {
    background-color: #fff;
}
button {
    border: none;
    background-color: initial;
    margin: 0px;
    padding: 0px;
}
a {
    color: initial;
    text-decoration: none;
}

/* Global Styles */
.container {
    width: 100%;
}
.content {
    /* max-width: 1600px; 
    max-width: 1300px;
    /* max-width: 1440px; */
    /* max-width: 972px; */
    margin-left: auto;
    margin-right: auto;
}
.contentcontainer {
    width: 84%;
}
/* Global Styles */
/*font-family: 'Open Sans', sans-serif;*/

/* Header */
header {
    /*height: 100vh;*/
}
body nav {
    z-index: 99;
    position: fixed;
    top: 0;
}
nav {
    background-color: #fff;
}
.nav__container {
    align-items: center;
    padding-right: 8%;
    padding-left: 8%;
    display: flex;
    margin: 47px 0px 40px;
}
.nav__logo-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav__menu {
    margin-left: auto;
    margin-right: auto;
}
.nav__menu button a{
    color: #5C6A79;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px 20px;
}
.nav__menu button a:hover {
    color: #1C2A39;
    font-weight: 900;
}
.nav__functional button:last-child {
    position: relative;
    margin: 0px 0px 0px 20px;
}
.nav__functional button{
    margin: 0px 20px;
} 
.nav__functional-basket {
    position: absolute;
    padding: 1px;
    min-width: 13px;
    min-height: 13px;
    border-radius: 50px;
    background-color: #FF353A;
    top: 8px;
    right: -4px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}
.nav__functional-basket__none {
    display: none;
}


.banners {
    margin-top: 116px;
}
.banners__coorusel {
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
}
.banners__coorusel-promo1-a {
    position: absolute;
    top: 10%;
    margin-left: 79.1%;
}
.banners__coorusel-promo2-a {
    position: absolute;
    top: 49%;
    margin-left: 85%;
}
.banners__coorusel img {
    width: 100%;
    filter: drop-shadow(0px 6px 59px rgba(53, 49, 84, 0.08));
}
.banner {
    display: none;
}
.bannerActive {
    display: block;
}
.banners__coorusel__img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out; /* Добавляем анимацию для свойства opacity */
  opacity: 1; /* Исходное значение непрозрачности */
}

.banners__coorusel-spans {
    margin-top: 17px;
    display: flex;
    justify-content: center;
}
.banners__coorusel-span {
    display: block;
    border-radius: 50px;
    margin: 0px 5px;
    width: 12px;
    height: 12px;
    background-color: #EFEEF6;
}
.banners__coorusel-span--active {
    background-color: #9E98DC;
}

.banners__coorusel-promo1 {
    display: flex;
    align-items: flex-end;
    width: 149px;
    height: 204px;
    background-color: #9E98DC;
    box-shadow: 0px 24px 36px -10px rgba(53, 49, 84, 0.28);
}
.banners__coorusel-promo2 {
    display: flex;
    align-items: flex-end;
    width: 106px;
    height: 273px;
    background-color: #FF8FE6;
    box-shadow: 0px 24px 36px -10px rgba(53, 49, 84, 0.28);
}
.banners__coorusel-promo1-content h1, .banners__coorusel-promo2-content h1 {
    color: var(--text-black, #1C2A39);
    font-family: Montserrat;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.banners__coorusel-promo2-content {
    margin: 0px 0px 20px 21px;
    width: 69px;
}
.banners__coorusel-promo2-content img {
    width: 55px;
    height: 12px;
    margin-left: 0px;
}
.banners__coorusel-promo1-content {
    margin: 0px 0px 20px 20px;
    width: 109px;
}
.banners__coorusel-promo1-content img {
    width: 55px;
    height: 12px;
    margin-left: 0px;
}
/* Header */



/* Section book-catalog */
.book__katalog {
    margin-top: 105px;
    display: flex;
    justify-content: flex-start;
}
.book__katalog__categories {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.book__katalog__categories__container {
    padding: 35px 138px 81px 158px;
    background-color: #EFEEF6;
    height: fit-content;
    left: -156px;
    position: relative;
}
.book__katalog__categories__container ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
} 
.book__katalog__categories__container ul li {
    margin: 11.5px 0px;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}
.book__katalog__categories__h1 {
    color: #5C6A79;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.book__katalog__categories__h1--active {
    color: #1C2A39;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.book__katalog__categories__h1__span--active {
    left: -14px;
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #756AD3;
    border-radius: 50px;
}
.category-indicator {
    
}



.book__katalog__result {
    margin-top: 46px;
    margin-left: -215px;
    z-index: 1;
}
.book__katalog__result__books {
    /* min-width: 300px; */
    /* min-height: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book__katalog__result__books div:nth-child(odd) {
  /*margin-left: 1px;
  margin-right: 1px;*/
}
.book__katalog__result__aboutBook {
    margin-bottom: 85px;
    display: flex;
    max-width: 424px;
}
.book__katalog__result__aboutBook__img {
    margin-right: 36px;
}
.book__katalog__result__aboutBook__img img {
    box-shadow: 0px 24px 36px 0px rgb(53 49 84 / 28%);
    max-width: 212px;
    min-width: 212px;
    min-height: 303px;
    max-height: 303px;
}
.book__katalog__result__aboutBook__info {
    margin-top: 50px;
}
.book__katalog__result__aboutBook__info__Author {
    color: var(--text-gray, #5C6A79);
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.book__katalog__result__aboutBook__info__Name {
    margin: 4px 0px;
    color: var(--text-black, #1C2A39);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.book__katalog__result__aboutBook__info__Rating {
    display: flex;
    align-items: center;
}
.rating {
  display: flex;
}

.star {
  cursor: pointer;
  color: #ddd;
  transition: color 0.5s;
  margin: 0px 2px;
}

.star.active {
  color: #ffcc00;
}
.book__katalog__result__aboutBook__info__Rating__p {
    margin-left: 6px;
    color: var(--text-gray, #5C6A79);
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.book__katalog__result__aboutBook__info__Description {
    margin: 16px 0px;
    color: var(--text-gray, #5C6A79);
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.book__katalog__result__aboutBook__info__Price {
    margin-bottom: 16px;
    color: var(--text-black, #1C2A39);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.book__katalog__result__aboutBook__info__Price__kzt::before {
    content: "\20B8";
    font-size: 13px;
    margin-right: 5px;
}
.book__katalog__result__aboutBook__info__Price__rub::before {
    content: "\20BD";
    font-size: 13px;
    margin-right: 5px;
}
.book__katalog__result__aboutBook__info__Price__usd::before {
    content: "\0024";
    font-size: 13px;
    margin-right: 5px;
}
.book__katalog__result__btn__more {
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.book__katalog__result__btn__more button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.book__katalog__result__btn {
    padding: 18px 66px;
    border: 1px solid #4C3DB2;
    cursor: pointer;
    color: #4C3DB2;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.book__katalog__result__btn__btnadddellbasket {
    background-color: #fff;
}
.book__katalog__result__btn__btnadddellbasket-deactiv {
    border: 1px solid grey;
}



.nav__btniconmenu, .nav__containermenu, .nav__btniconmenu {
    display: none;
}







@media (max-width: 1100px) {
    .nav__functional button {
        margin: 0px 15px;
    }
    .nav__functional button:last-child {
        margin: 0px 0px 0px 15px;
    }
    .nav__menu button a {
        margin: 0px 10px;
    }
}

@media screen and (min-width: 768px) {
    .content {
        max-width: 750px;
    }
}
@media screen and (min-width: 1100px) {
    .content {
        max-width: 1200px;
    }
}
@media screen and (min-width: 1200px) {
    .content {
        max-width: 1300px;
    }
}
